.header-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  .top-hd {
    width: 100%;
    padding-top: .0357rem;
    height: 3.2143rem;
    line-height: 3rem;
    background: #2ca2f9;
    position: relative;
    .logo {
      width: 7.286rem;
      height: 1.67857rem;
      line-height: 1.67857rem;
      display: inline-block;
      vertical-align: middle;
      margin-left: .7143rem;
      background: url(../img/logo-octocat.png) no-repeat;
      background-size: 100%;
      background-size: contain;
      cursor: pointer;
      i {
        margin-left: 1.8857rem;
        font-size: 1.2rem;
        font-weight: bold;
        color: #ffffff;
      }
    }
    .btn-search {
      width: 1.2143rem;
      height: 1.2143rem;
      background: url(../img/search.png) no-repeat;
      background-size: 100%;
      position: absolute;
      top: 1rem;
      right: .7143rem;
      cursor: pointer;
    }
  }
  .header-nav {
    width: 100%;
    background: #fff;
    height: 3.2143rem;
    line-height: 3rem;
    box-shadow: 0 0.1785rem 0.1785rem 0 #f4f4f4;
    ul {
      width: 100%;
      padding: 0 .7143rem;
      display: -webkit-flex;
      display: flex;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      li {
        width: 20%;
        text-align: center;
        flex: 1;
        -webkit-flex: 1;
        a {
          border-bottom: .2143rem solid #fff;
          display: block;
          color: #333;
          font-size: 1.1429rem;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          &.cur {
            border-bottom: .2143rem solid #33a3f5;
          }
        }
      }
    }
  }
}
