.songslist {
  padding-left: .7143rem;
  &.rank-songsList {
    .songslist-item {
      .songs-item-name {
        padding-left: 2.0674rem;
      }
    }
  }
  .songslist-item {
    width: 100%;
    height: 4.0714rem;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    display: table;
    .songs-item-name {
      width: 100%;
      padding-right: 2.657rem;
      display: table-cell;
      vertical-align: middle;
      padding-left: .3571rem;
      cursor: pointer;
      font-size: 1rem;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    .songs-item-download {
      position: absolute;
      top: 0;
      right: 0;
      width: 2.5rem;
      height: 100%;
      cursor: pointer;
      text-align: center;
      i {
        width: 1.0357rem;
        height: 1.0814rem;
        margin-top: 1.5rem;
        display: inline-block;
        background: url(../img/download.png) no-repeat;
        background-size: contain;
      }
    }
    .songs-item-num {
      padding: 0 .5rem;
      height: 1.0714rem;
      line-height: 1.0714rem;
      border-radius: .5rem;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -.5357rem;
      text-align: center;
      font-size: .7143rem;
      color: #999;
      display: inline-block;
      &.one {
        background: #e80000;
        color: #fff;
      }
      &.two {
        background: #ff7200;
        color: #fff;
      }
      &.three {
        background: #f8b300;
        color: #fff;
      }
    }
  }
}
